@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main: #e7f2ef;
  --primary: #19183b;
  --secondary: #a1c2bd;
  --last: #e7f2ef;
  --hover: #26245e;
}
html {
  font-size: 10px; /* 1rem ==> 10px */
}
.container {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .todoContainer {
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--main);
  width: 30vw;
  max-width: 38vw;
}
.todoContainer h1 {
  color: var(--primary);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.todoContainer .addNote {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
}

.todoContainer .addNote input:first-child {
  padding: 1rem 5rem 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  width: 100%;
}
.todoContainer .addNote input:last-child {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 2rem;
  color: var(--last);
  background-color: var(--primary);
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 0;
}
.addNote input:last-child:hover {
  background-color: var(--hover);
}

.todoContainer .noteContainer {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1.5rem;
}
.noteContainer .noteCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 3px var(--secondary);
  padding: 1rem;
}
.noteCard .note {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 1rem;
}
.noteCard .note i {
  cursor: pointer;
}

.noteCard .delete {
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease;
  font-size: 1.4rem;
  transform: scale(0.9);
}
.noteCard .delete:hover {
  background-color: var(--secondary);
  transform: scale(1);
}
